
.Center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo form{
    display: flex;
    flex-direction: column;
    padding: 7px;
   
}

.conteudo label {
    padding: 4px;
    display: block;
}

.conteudo input[type="text"], select{
    height: 20px;
    border-radius: 6px;
    width: 73%;
}

.conteudo textarea {
    border-radius: 6px;
}