<div class="conteudo">

    <!-- <h1>{{servico.id = "" ? "Cadastrar serviço" : "Editar serviço"}}</h1> -->

    <div class="Center">

        <form action="" method="post" class="formStyle">
            <label for="nome-servico">Serviço <br>    
            <input type="text" id="nome-servico" placeholder="o nome do serviço">
        </label>
        
        <label for="type-service">Tipo <br>
            <select name="" id="type-service">
                <option value=0 >escolha</option>
                <option value="">Unhas</option>
                <option value="">Cabelo</option>
                <option value="">Depilação</option>
                <option value="">Rosto</option>
            </select>
        </label>
        
        <label for="">Descrição <br>
            <textarea name="" id="" cols="25" rows="10" placeholder="insira uma breve descrição"></textarea>
        </label> 
        
        
        <label for="">Valor <br>
            <input type="text" placeholder="em R$">
        </label>

        <label for="">Escolha uma imagem <br>
            <input type="file" >
        </label>
        
        <div class="buttons">
            <button>Cadastrar</button>
            <button routerLink="/administracao" >Voltar</button>
        </div>
    </form>
</div>
</div>
