<div class="conteudo">

    <!-- <h1>{{servicos.nome = undefined ? "Cadastrar serviço" : "Editar serviço"}}</h1> -->

    <div class="Center">

        <form class="formStyle" enctype="multipart/form-data">
        
            <label for="nome">Serviço <br>    
            <input type="text" 
                   id="nome" 
                   name="nome" 
                   placeholder="o nome do serviço"
                   [(ngModel)]="servicos.nome">
            </label>
            <br>
        <label for="tipo">Tipo <br>
            <select name="tipo" id="tipo" [(ngModel)]="servicos.tipo">
                <option value="Unhas">Unhas</option>
                <option value="Cabelo">Cabelo</option>
                <option value="Depilação">Depilação</option>
                <option value="Rosto">Rosto</option>
            </select>
        </label>
        <br>
        
        <label for="descricao">Descrição <br>
            <textarea name="descricao" 
                id="descricao" 
                cols="27" rows="10" 
                placeholder="insira uma breve descrição"
                [(ngModel)]="servicos.descricao">
                ></textarea>
        </label>
        <br>

        
        <label for="preco">Valor <br>
            <input type="text"
            name="preco"
            id="preco"
            placeholder="em R$"
            [(ngModel)]="servicos.preco">
        </label>
        <br>
        
        <label for="imagem">Escolha uma imagem <br>
            <input type="file" (change)="onFileSelected($event)" [(ngModel)]="servicos.imagem"> 
        </label>

        <!-- <span>
            <img *ngIf="servicos.imagem" [src]="servicos.imagem" alt="Imagem Selecionada" height="150">
        </span> -->
        <br>
        <div class="buttons">
            <button (click)="onSaveService(servicos)">Cadastrar</button>
            <button routerLink="/administracao" >Voltar</button>
        </div>
    </form>
</div>
</div>
