/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #FFDADA;
    font-family: 'Barlow', sans-serif;
}

.buttons button {
    background-color: #D75581;
    margin: 6px;
    padding: 8px;
    border-radius: 6px;
}