<div>
    <h1>Todos os serviços</h1>
    <table>
        <thead>
            <th>SERVIÇO</th>
            <th>TIPO</th>
            <th>DESCRIÇÃO</th>
            <th>VALOR</th>
            <th></th>
            <th></th>
        </thead>

        <tbody>
            <!-- inserir lógica para add dinamicamente -->
            <tr>
                <!-- <td>{{servico.nome}}</td>
                <td>{{servico.tipo}}</td>
                <td>{{servico.descricao}}</td>
                <td>{{servico.valor}}</td>
                <td> <a href="edit/{{servico.id}}"></a>Editar</td>
                <td><button (click)="delete_servico(servico)"></button>Deletar</td> -->
            </tr>
        </tbody>
    </table>
</div>
