<div class="full-content"> <br>
    <h1>Todos os serviços</h1> <br>
    <table>
        <thead>
            <th>SERVIÇO</th>
            <th>TIPO</th>
            <th>DESCRIÇÃO</th>
            <th>VALOR</th>
            <th></th>
            <th></th>
        </thead>

        <tbody>
            <!-- inserir lógica para add dinamicamente -->
            <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td><3</td>
                <td><3</td>
                <!-- <td>{{servico.nome}}</td>
                <td>{{servico.tipo}}</td>
                <td>{{servico.descricao}}</td>
                <td>{{servico.valor}}</td>
                <td> <a href="edit/{{servico.id}}"></a>Editar</td>
                <td><button (click)="delete_servico(servico)"></button>Deletar</td> -->
            </tr>
            <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td><3</td>
                <td><3</td>
            </tr>
            <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td><3</td>
                <td><3</td>
            </tr>
            <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td><3</td>
                <td><3</td>
            </tr>
            <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td><3</td>
                <td><3</td>
            </tr>
        </tbody>
    </table> <br>
    <div class="buttons">
        <button routerLink="/cadastrar" >Adicionar novo serviço</button>
        <button type="submit">Baixar tabela</button>
    </div>
</div>
