<div class="principal-content">
    <h1>Seja Bem Vindo(a)</h1><br>
    <h3>Confira nossos serviços</h3> <br>

    <h2>Cabelos</h2>
    <div class="btnsNav">
        <button ng-click="vm.prevCard()" class="slider-button"><<</button>
        <button ng-click="vm.nextCard()" class="slider-button">>></button>
    </div> <br>
            <div class="secao" *ngIf="listServices.length > 0">
                <div class="" *ngFor="let servicos of listServices">
                    <div class="card-container" *ngIf="servicos.tipo == 'Cabelo'">

                        <!-- dados da API -->
                        <div class="card" >
                            <h3>{{servicos.nome}}</h3>
                            <img src={servicos.imagem} alt="">
                            <p>{{servicos.descricao}}</p>
                            <h3>{{servicos.preco}}</h3>
                           
                            <a href="https://wa.me/+559282466395">    
                                <button type="submit" class="btnAgendar">Agendar</button>
                            </a>
                        </div>

                    </div>
                </div>
                
            </div><br>

    <h2>Unhas</h2>
    <div class="btnsNav">
        <button ng-click="vm.prevCard()" class="slider-button"><<</button>
        <button ng-click="vm.nextCard()" class="slider-button">>></button>
    </div>
    <div class="secao" *ngIf="listServices.length > 0">
        <div class="" *ngFor="let servicos of listServices">
            <div class="card-container" *ngIf="servicos.tipo == 'Unhas'">

                <!-- dados da API -->
                <div class="card" >
                    <h3>{{servicos.nome}}</h3>
                    <img src={servicos.imagem} alt="">
                    <p>{{servicos.descricao}}</p>
                    <h3>{{servicos.preco}}</h3>
                   
                    <a href="https://wa.me/+559282466395">    
                        <button type="submit" class="btnAgendar">Agendar</button>
                    </a>
                </div>

            </div>
        </div>

    </div><br>

    <h2>Depilação</h2>
    <div class="btnsNav">
        <button ng-click="vm.prevCard()" class="slider-button"><<</button>
        <button ng-click="vm.nextCard()" class="slider-button">>></button>
    </div>
    <div class="secao" *ngIf="listServices.length > 0">
        <div class="" *ngFor="let servicos of listServices">
            <div class="card-container" *ngIf="servicos.tipo == 'Depilação'">

                <!-- dados da API -->
                <div class="card" >
                    <h3>{{servicos.nome}}</h3>
                    <img src={servicos.imagem} alt="">
                    <p>{{servicos.descricao}}</p>
                    <h3>{{servicos.preco}}</h3>
                   
                    <a href="https://wa.me/+559282466395">    
                        <button type="submit" class="btnAgendar">Agendar</button>
                    </a>
                </div>

            </div>
        </div>

    </div><br>

    <h2>Rosto</h2>
    <div class="btnsNav">
        <button ng-click="vm.prevCard()" class="slider-button"><<</button>
        <button ng-click="vm.nextCard()" class="slider-button">>></button>
    </div>
    <div class="secao" *ngIf="listServices.length > 0">
        <div class="" *ngFor="let servicos of listServices">
            <div class="card-container" *ngIf="servicos.tipo == 'Rosto'">

                <!-- dados da API -->
                <div class="card" >
                    <h3>{{servicos.nome}}</h3>
                    <img src={servicos.imagem} alt="">
                    <p>{{servicos.descricao}}</p>
                    <h3>{{servicos.preco}}</h3>
                   
                    <a href="https://wa.me/+559282466395">    
                        <button type="submit" class="btnAgendar">Agendar</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
    
</div>
