<div class="principal-content">
    <h1>Seja Bem Vindo(a)</h1><br>
    <h3>Confira nossos serviços</h3> <br>

    <h2>Cabelos</h2> <br>
    <div class="secao">
            <div class="card">
                <img src="../../../assets/imgs/exemplo-cabelo.png" 
                alt="fotografia do resultado final de um processo quimico em um cabelo loiro">
                    <h3>Título</h3>
                    <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                    <h4 class="valorR$">Valor: 00 </h4>
                    <a href="https://wa.me/+559282466395">    
                        <button type="submit" class="btnAgendar">Agendar</button>
                    </a>
            </div>
    </div><br>

    <h2>Unhas</h2>
    <div class="secao">
        <div class="card">
            <img src="../../../assets/imgs/unhas-decoradas.png" 
            alt="fotografia de unhas pintadas e decorada">
                <h3>Título</h3>
                <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                <h4 class="valorR$">Valor: 00 </h4>
                <a href="https://wa.me/+559282466395">    
                    <button type="submit" class="btnAgendar">Agendar</button>
                </a>
        </div>

    </div><br>

    <h2>Depilação</h2>
    <div class="secao">
        <div class="card">
            <img src="" alt="">
                <h3>Título</h3>
                <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                <h4 class="valorR$">Valor: 00 </h4>
                <a href="https://wa.me/+559282466395">    
                    <button type="submit" class="btnAgendar">Agendar</button>
                </a>
        </div>

    </div><br>

    <h2>Rosto</h2>
    <div class="secao">
        <div class="card">
            <img src="../../../assets/imgs/make.png" 
            alt="fotografia de uma mulher maquiada">
                <h3>Título</h3>
                <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                <h4 class="valorR$">Valor: 00 </h4>
                <a href="https://wa.me/+559282466395">    
                    <button type="submit" class="btnAgendar">Agendar</button>
                </a>
        </div>
    </div>
    
</div>
