<div>
    <h1>Seja Bem Vindo(a)</h1>
    <h2>Confira nossos serviços</h2>

    <h2>Cabelos</h2>
    <div class="secao">
        <div class="card">
            <img src="" alt="">
            <p class="desc"></p>
            <h4 class="valorR$">Valor: </h4>
        </div>

    </div>

    <h2>Unhas</h2>
    <div class="secao">
        <div class="card">
            <img src="" alt="">
            <p class="desc"></p>
            <h4 class="valorR$">Valor: </h4>
        </div>

    </div>

    <h2>Depilação</h2>
    <div class="secao">
        <div class="card">
            <img src="" alt="">
            <p class="desc"></p>
            <h4 class="valorR$">Valor: </h4>
        </div>

    </div>

    <h2>Rosto</h2>
    <div class="secao">
        <div class="card">
            <img src="" alt="">
            <p class="desc"></p>
            <h4 class="valorR$">Valor: </h4>
        </div>
    </div>
    
</div>
