<footer>
    <div>
        <!-- pensar em algo pra colocar aqui -->
    </div>

    <div>
        <p> desenvolvido com ♥ & ☕(chá) </p>
    </div>
    
    <div>
        <h5>Contatos: </h5>
        <a href="https://www.instagram.com/argentinanascimento/">
            <img class="links" src="../../../assets/imgs/logo-instagram.svg" alt="logo do instagram em preto e branco"></a>
        <a href="https://wa.me/+559282466395">
            <img class="links" src="../../../assets/imgs/logo-whatsapp.svg" alt="logo do whatsapp em preto e branco"></a>
    </div>
</footer>
